@import "_variables.scss";
@import "_mixins.scss";

.main{
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-family: $font-family;

  #header{
    background: $purple;

    .logo{
      width: 50%;
      margin: 40px auto;

      img{
        width: 100%;
      }
    }

    .nav{
      height: 50%;
      width: 85%;
      margin: auto;

      ul{
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        position: relative;
      }

      li{
        @include prefixes(border-bottom, 1px solid $white);
        width: 100%;
        padding-bottom: 25px;
      }

      a{
        text-decoration: none;
        color: $white;
        font-weight: $font-weight;
        position: absolute;
        right: 0;
      }
    }
  }




  #section{


    h1{
      font-size: $font-size-h1;
      margin: 30px 100px;
      color: $purple;
      font-weight: $font-weight;
    }

    .cajas{
      width: 85%;
      display: grid;
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      margin: 10px 100px 20px;

        %caja{
          width: 80%;
          height: 220px;
          position: relative;
          margin-bottom: 50px;

          %image{
            height: 100%;
            width: 100%;
          }


          .text-hover{
            position: absolute;
            background: rgba($pink, .6);
            height: 100%;
            top: 0;
            font-size: 20px;
            display: none;
            transition: all .5;

            h2, p{
              text-align: center;
              margin-bottom: 10px;
              color: $white;
              font-weight: bold;
            }
          }

          h3{
            background: $pink;
            color: $white;
            padding: 10px;
            text-align: center;
            transition: all 1s;
            position: relative;
            z-index: -1;
          }

          &:hover h3{
            @include prefixes(transform, translateY(-30px));
            position: relative;
            z-index: -1;
          }

          &:hover .text-hover{
            display: block;
          }
        }

        .caja1{
          @extend %caja;
          .image1{
            @extend %image;
            background: url("../Recursos/proyecto-1.jpg") center/cover no-repeat;
          }
          .text-hover{
            background: rgba($pink, .6);
          }
          h3{
            background: $pink;
          }
        }

        .caja2{
          @extend %caja;
          .image2{
            @extend %image;
            background: url("../Recursos/proyecto-2.jpg") center/cover no-repeat;
          }
          .text-hover{
            background: rgba($blue, .6);
          }
          h3{
            background: $blue;
          }
        }

        .caja3{
          @extend %caja;
          .image3{
            @extend %image;
            background: url("../Recursos/proyecto-3.jpg") center/cover no-repeat;
          }
          .text-hover{
            background: rgba($purple, .6);
          }
          h3{
            background: $purple;
          }
        }

        .caja4{
          @extend %caja;
          .image4{
            @extend %image;
            background: url("../Recursos/proyecto-4.jpg") center/cover no-repeat;
          }
          .text-hover{
            background: rgba($orange, .6);
          }
          h3{
            background: $orange;
          }
        }


    }
  }
}
