@import "variables.scss";

#header{
  position: relative;
  background: $background-header;

  .logo{
    width: 5%;
    margin: auto;

    img{
      width: 100%;
    }
  }

  .social-networks{
    float: right;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;

    img{
      width: 55px;
      margin: 0 10px;
    }

    .facebook{
      img{
        width: 40px;
      }
    }

    .instagram{
      img{
        width: 45px;
      }
    }
  }
}
