//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

//Colores

$color-tipografia: #fff;
$boton-color: #d4d4d4;
$background-header: #000;

//Tipografia

$texto: 'Livvic', sans-serif;
