!!! 5
%html(lang = "es")
  %head
    %meta(charset = "utf-8")
    %title Desafio 2
  %body

    .main
      %header#header
        .logo
          %img(src="Recursos/logo.png" alt="logo")
        .nav
          %ul
            %li
              %a(href="#") Inicio
            %li
              %a(href="#") Portafolio
            %li
              %a(href="#") Sobre mi
            %li
              %a(href="#") Contacto

      %section#section
        %h1 Portafolio
        .cajas
          .caja1
            .img1
              %img(src="Recursos/proyecto-1.jpg" alt="image1")
            %h3 Tarjeta de presentacion

          .caja2
            .image2
              %img(src="Recursos/proyecto-2.jpg" alt="image2")
            %h3 Tarjeta de presentacion

          .caja3
            .image2
              %img(src="Recursos/proyecto-3.jpg" alt="image3")\
            %h3 Papeleria corporativa

          .caja4
            .image4
              %img(src="Recursos/proyecto-4.jpg" alt="image4")
            %h3 Sitio web responsive
