//colores

$black: #000;
$orange: #F57F17;
$white: #fff;

//tipografias-google fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

//tipografias
$font-family-title: 'Playfair Display', serif;
$font-family-text: 'Raleway', sans-serif;
